// buttons
// -------
.btn-primary, .btn-secondary {
    margin: rem-calc(10) auto;
    width: rem-calc(180);
    height: rem-calc(40);
    border: 1px solid $white;
    position: relative;
    cursor: pointer;
    transition: all 1s ease;
    overflow: hidden;
    a {
      line-height: rem-calc(38);
      margin-bottom: 0px !important;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      z-index: 1;
      transition: all 1s ease;
      color: $white;
    }
  }
  
  .btn-secondary {
    border: 1px solid $black;
    a {
      color: $black;
    }
  } 
  
  .btn-primary:before, 
  .btn-secondary:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $white;
    position: absolute;
    transition: all 1s ease;
  }
  
  .btn-secondary:before{
    background-color: $black;
  }
  
  .btn-primary:before, 
  .btn-secondary:before {
    top: 0;
    left: -210px;
  }
  
  .btn-primary:hover:before,
  .btn-secondary:hover:before {
    left: 0;
  }
  
  .btn-primary:hover a{
    color: #7a909a;
  }
  
  .btn-secondary:hover a{
    color: $white;
  }