// Feature Content option 01
.fw-feature-content-01 {
  min-height: rem-calc(400);
  .fw-feature-content-text {
    background: lighten($light-gray, 5);
    padding: calc(#{$global-padding} * 4);
  }
  h3 {
    text-transform: uppercase;
    margin: $global-margin;
  }
}

.fw-feature-content-image {
  position: relative;
  min-height: rem-calc(400);
  .color-box {
    position: absolute;
    top: 30px;
    right: rem-calc(30);
    width: rem-calc(180);
    height: rem-calc(200);
    background: linear-gradient(-45deg, #faeb32, #ff781e);
    padding: rem-calc(20);
    color: $white;
    p {
      font-weight: 600;
    }
  }
}

// Feature Content option 02
.fw-feature-content-02 {
  .fw-feature-content-text {
    background: rgba(255, 255, 255, 0.75);
    margin: calc(#{$global-margin} * 2);
    padding: calc(#{$global-padding} * 4);
  }
  h3 {
    text-transform: uppercase;
    margin: $global-margin;
  }
}

// Feature Content option 03
.fw-feature-content-03 {
   min-height: rem-calc(400);
  .fw-feature-content-text {
    background: #ff781e;
    padding: calc(#{$global-padding} * 4);
    color: $white;
  }
  .fw-feature-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    color: $white;
    font-size: rem-calc(65);
  }
  h3 {
    text-transform: uppercase;
    margin: $global-margin;
  }
}