// main navigation items

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background: green;
}

#header {
  // position: relative;
  background: blue;
  z-index: 100;
  padding: rem-calc(20) rem-calc(15);
  display: flex;
  width: $grid-container;
  justify-content: space-between;
}

.site-logo {
  background: red;
  width: rem-calc(160);
  img {
    width: 100%;
  }
}

.menu-toggle {
  font-weight: 900;
  color: yellow;
  font-size: 20px;
  background: green;
  display: block;
}

#nav-main {
  background: salmon;
  display: none;
  ul {
    display: flex;
    li {
      list-style-type: none;
      margin-left: rem-calc(20);
      a {
        color: $white;
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: rem-calc(840)) {
  #nav-main {
    display: block;
  }
  .menu-toggle {
    display: none;
  }
}


// Overlay menu
.overlay-menu-wrapper {
      z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;

  .overlay-menu {

    padding-top: 100px;
    width: 25vw;
    height: 100vh;
    background: pink;
    transform: translateX(75%);
  }
}
