// main navigation items

.nav-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

#header {
  z-index: 100;
  padding: rem-calc(20) rem-calc(15);
  display: flex;
  width: $grid-container;
  justify-content: space-between;
}

.site-logo {
  width: rem-calc(160);
  img {
    width: 100%;
  }
}

.menu-toggle {
  position: absolute;
  top: rem-calc(20);
  right: rem-calc(30);
  font-weight: 900;
  color: yellow;
  font-size: 20px;
  background: green;
  display: block;
  cursor: pointer;
  z-index: 1000;
}

#nav-main {
  display: none;
  ul {
    display: flex;
    li {
      list-style-type: none;
      margin-left: rem-calc(20);
      a {
        color: $white;
        font-weight: 600;
      }
    }
  }
}

// Overlay menu
.overlay-menu-wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;


  .overlay-menu {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    background: pink;
    transform: translateY(-100%);
  }
}

@media screen and (min-width: rem-calc(840)) {
  #nav-main {
    display: block;
  }

  .menu-toggle {
    display: none;
  }

  .overlay-menu-wrapper {
    display: none;
  }
}
