// 1. Base
// -------
@import 'components/base/color';
@import 'components/base/typography';

// 2. layout
// ---------
@import 'components/layout/grid';

// 3. module
// ---------
@import 'components/module/navigation';
@import 'components/module/buttons';

// 5. State
// ---------


// 6. Pages
// ---------
@import 'components/pages/home';


// shame
.fw-feature-content {
  height: rem-calc(500);
  .fw-feature-content-text {
    background: lighten($light-gray, 5);
    padding: calc(#{$global-padding} * 4);
  }
  .fw-feature-content-image {
    overflow: hidden;
    img {
      height: 100%;
    }
  }
}