$primary-color: #000;
$secondary-color: #000;
$accent-color: $white;
$gradient: linear-gradient(-45deg, #faeb32, #ff781e);

$transparent-black: rgba(0, 0, 0, 0.9);

$reverse: $white;

::selection {
  background: $black;
}
