// Spacing
.global-spacing {
  margin: rem-calc(30) 0;
}

.global-spacing-2x {
  margin: rem-calc(60) 0;
}

// Horizontal divider
.horizontal-center {
  width: rem-calc(150);
  height: rem-calc(2);
  background: $dark-gray;
  margin: $global-margin auto;
}

// full page header section
.fp-header {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: rem-calc(1350);
  min-height: rem-calc(550);
}