<div class="footer-wrapper global-padding-2x">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="footer-logo">
          <a href="index.html"><img src="assets/img/Spring_logo.svg" alt=""></a>
        </div>
      </div>
      <div class="cell footer-contact">
        <p class="text-center"><strong>RESERVATIONS:</strong> 0800 331 221</p>
        <p class="text-center"><strong>PHONE:</strong> +64 3 473 1188</p>
        <p class="text-center">42-46 BANK ST, DUNEDIN 9010, NEW ZEALAND</p>
      </div>
      <div class="cell footer-menu">
        <ul class="menu align-center">
          <li><a href="about.html">About</a></li>
          <li><a href="#">Accomodation</a></li>
          <li><a href="#">Location</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Specials</a></li>
          <li><a href="#">Bookings</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="cell footer-copyright text-center">
        <p>© 2018 Spring Hotel Limited. All Rights Reserved. |  Website by TBD Design</p>
      </div>
    </div>
  </div>
</div>



