<section class="grid-container">
  <div class="grid-x global-spacing-2x fw-feature-content-01">
    <div class="cell large-5 medium-6 small-12 fw-feature-content-text text-center">
      <h3>Guest rewards & benefits</h3>
      <div class="horizontal-center"></div>
      <p>Learn more about our “a friend of Porters Boutique Hotel” programme where you can enjoy rewards and benefits each and every time you stay with us including exclusive offers with some of our local business partners.</p>
      <button class="btn-secondary">
        <a href="">Learn more</a>
      </button>
    </div>
    <div class="cell large-7 medium-6 small-12 fw-feature-content-image guest-rewards">
      <div class="color-box">
        <h5>Best Value</h5>
        <p>programme where you can enjoy rewards and benefits each</p>
      </div>
    </div>
  </div>
</section>
