<div class="fw-text-content-wrapper">
  <div class="grid-container">
    <div class="grid-x global-spacing-2x">
      <div class="cell large-8 large-offset-2">
        <h3 class="text-center">A new level of luxury Hawke’s Bay accommodation, located in the heart of the Havelock North village</h3>
        <p class="text-center">Step into a world of luxury, comfort, and relaxation. Nestled in the heart of the charming Havelock North village and surrounded by the majestic hills of Hawke’s Bay, Porters Boutique Hotel offers unique luxury accommodation.</p>
        <p class="text-center">Relax in elegantly appointed guest rooms, complete with plush, classic furnishings and adorned with original local artwork. Enjoy attentive luxury service and full amenities within a stylish, intimate space that reflects the beauty and grandeur of the breathtaking Hawke’s Bay region.</p>
      </div>
    </div>
  </div>
</div>