<div class="nav-wrapper">
  <header id="header">

    <div class="site-logo">
      <a href="index.html"><img src="assets/img/Spring_logo.svg" alt="place logo here"></a>
    </div>

    <nav role="navigation" id="nav-main">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Accomodation</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Specials</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Bookings</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div class="overlay-menu-wrapper">
    <div class="menu-toggle">
      toggle
    </div>
    <nav class="overlay-menu">
      <span class="overlay-logo">
        <a href="index.html"><img src="assets/img/Spring_logo.svg" alt="place logo here"></a>
      </span>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Accomodation</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Specials</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Bookings</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

</div>
