<header>
  <nav class="navbar">
    
    <div class="navbar-wrapper">
      <div class="logo-wrapper">
        <div class="nav-logo">
          <a href="index.html"><img src="assets/img/Spring_logo.svg" alt="RIACH logo"></a>
        </div>
      </div>

      <ul class="active">
        <li>
          <a class="portfolio-btn" href="about.html">About</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="investment_portfolio.html">Accomodation</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="investment_portfolio.html">Location</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="private_equity_strategy.html">Events</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="rangatahi_intern_programme.html">Specials</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="rangatahi_intern_programme.html">Bookings</a>
          <div class="portfolio-btn-underline"></div>
        </li>
        <li>
          <a class="portfolio-btn" href="contact.html">Contact</a>
          <div class="portfolio-btn-underline"></div>
        </li>
      </ul>
    </div>
    
    <!-- overlay -->
    <label id="nav-toggle-label" for="nav-toggle"><span></span></label>
    <input id="nav-toggle" type="checkbox" />
    <ul class="overlay-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="investment_portfolio.html">Investment</a></li>
      <li><a href="private_equity_strategy.html">PE Strategy</a></li>
      <li><a href="rangatahi_intern_programme.html">Rangatahi Intern Programme</a></li>
      <li><a href="news.html">news</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

</header>