// Home hero
// ---------

.home-hero-wrapper {
  background: url(../img/hotel-background-01.jpg) center center no-repeat fixed;
  background-size:  cover;
}

.home-hero-content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;
  
  h4 {
    text-transform: uppercase;
  }
  
}

@media screen and (min-width: 64em) {
  .home-hero-content {
    h1 {
      font-size: rem-calc(60);
    }
  }
}

// Feature content option 01
.guest-rewards {
  background: url(../img/hotel-temp02.jpg) center center no-repeat;
  background-size:  cover;
}

// Feature content option 02
.feature-facilities {
  background: url(../img/hotel-temp03.jpg) center center no-repeat;
  background-size:  cover;
}