// Home hero
// ---------

.home-hero-wrapper {
  position: relative;
  background: url(../img/hotel-background-01.jpg) center center no-repeat fixed;
  background-size:  cover;
}

.home-hero-content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;

  h4 {
    text-transform: uppercase;
  }

}

// datepicker
// ----------

.datepicker-wrapper {
  display: flex;
  width: 100%;
  height: rem-calc(60);
  background: $black;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  p, i {
    text-transform: uppercase;
    font-size: rem-calc(20);
    font-weight: 600;
    margin: 0;
    line-height: rem-calc(60);
  }
  p {
    padding-right: rem-calc(20);
  }
  .datepicker {
    display: flex;
    height: rem-calc(60);
  }
}

@media screen and (min-width: 64em) {
  .home-hero-content {
    h1 {
      font-size: rem-calc(60);
    }
  }
}

// Feature content option 01
.guest-rewards {
  background: url(../img/hotel-temp02.jpg) center center no-repeat;
  background-size:  cover;
}

// Feature content option 02
.feature-facilities {
  background: url(../img/hotel-temp03.jpg) center center no-repeat;
  background-size:  cover;
}

// feature content option 03
.feature-malo {
  background: url(../img/hotel-temp04.jpg) center center no-repeat;
  background-size:  cover;
}
